<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vuejs is awesome</title>
    <script src="vue.js"></script>
    <style>
        .demo {
            width: 100px;
            height: 100px;
            background: grey;
            display: inline-block;
            margin: 10px; }
    </style>
</head>
<body>
    <div id="app">
        <div class="demo" :style="{backgroundColor: color}"></div>
        <div class="demo" :style="[myStyle, {height: `${width}px`}]"></div>
        <div class="demo"></div>
        <hr>
        <input type="text" v-model="color">
        <input type="text" v-model="width">
      </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                color: 'grey',
                width: 100
            },
            computed: {
                myStyle: function() {
                    return {
                        backgroundColor: this.color,
                        width: `${this.width}px`
                    }
                }
            }
        });
    </script>
</body>
</html>
