<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vuejs is awesome</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(ingredient, i) in ingredients">
                {{ingredient}} ({{i}})
            </li>
        </ul>
        <hr>
        <ul>
            <li v-for="person in persons">
                <!-- This person reference the person above -->
                <div v-for="(value, key, index) in person">{{key}}: {{value}} ({{index}})</div>
            </li>
        </ul>
        <span v-for="n in 10">{{n}}</span>
        <hr>
        <template v-for="(ingredient, index) in ingredients">
            <h1>{{ingredient}}</h1>
            <p>{{index}}</p> 
        </template>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                ingredients: ['meat', 'fruit', 'cookies'],
                persons: [
                    {name: 'Rafael', age: 17, color: 'red'},
                    {name: 'Giovanna', age: 'unknown', color: 'blue'}
                ]
            },
        });
    </script>
</body>
</html>
